* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px sans-serif;
}

div {
  margin: 20px;
}

div li {
  align-items: center;
  border-radius: 6px;
  box-shadow: 2px 3px 5px #e5e5e5;
  display: flex;
  justify-content: space-between;
  margin: 8px;
  padding: 8px;
  width: 500px;
}

div li p {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  border-radius: 6px;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  margin: 0 0 0 15px;
  background: #ca4949;
  border-radius: 6px;
}
